.feed-pad-top {
  width: 100%;
}
html[data-scroll-direction="horizontal"] .feed-pad-top {
  height: 100%;
  width: unset;
  flex-shrink: 0;
}
.feed {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: scroll;
  scroll-snap-type: y mandatory;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.feed::-webkit-scrollbar {
  display: none;
}

.video-track-progress {
  height: 1px;
  width: 100%;
  background: blue;
  position: fixed;
  transform: scaleX(0);
  transform-origin: left;
  z-index: 9;
}
.video-track-progress.bottom {
  bottom: 57px;
}
.video-track-progress.top {
  top: 0;
}
body.fullscreen .video-track-progress.bottom {
  bottom: 0;
}

html[data-scroll-direction="horizontal"] .feed {
  display: flex;
  scroll-snap-type: x mandatory;
}
