.feed-pad-top {
  width: 100%;
}
html[data-scroll-direction="horizontal"] .feed-pad-top {
  height: 100%;
  width: unset;
  flex-shrink: 0;
}
.feed {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: scroll;
  scroll-snap-type: y mandatory;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.feed::-webkit-scrollbar {
  display: none;
}

.video-track-progress {
  height: 1px;
  width: 0%;
  background: blue;
  position: fixed;
  will-change: width;
  z-index: 102;
  overflow: visible;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.video-track-progress.bottom {
  bottom: 57px;
}
.video-track-progress.top {
  top: 0;
}
body.fullscreen .video-track-progress.bottom {
  bottom: 0;
}

.video-track-scrubber {
  width: 12px;
  height: 4px;
  border-radius: 23051998px;
  background: blue;
  border: 0;
  outline: 0;
  flex-shrink: 0;
}
.video-track-scrubber.is-dragged {
  width: 16px;
  height: 16px;
}

html[data-scroll-direction="horizontal"] .feed {
  display: flex;
  scroll-snap-type: x mandatory;
}
