.footer-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 60px;
  width: 100%;
  padding-bottom: 2px;
  padding-left: 1px;
}

.footer-left {
  position: relative;
  color: white;
  width: 100%;
  flex-grow: 1;
  pointer-events: none;
  display: flex;
}

.footer-left .text {
  width: 100%;
  display: flex;
  align-items: center;
}

.ticker {
  height: fit-content;
  width: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 1;
}

.footer-left span {
  font-size: 13px;
  font-weight: 400;
  color: #fff;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 90%;
}

.video {
  position: relative;
  width: 100%;
  height: 100%;
  text-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
  scroll-snap-align: start;
  scroll-snap-stop: always;
}

.video::before {
  content: "";
  display: block;
  box-shadow: 0 -33px 48px rgba(0, 0, 0, 0.5) inset;
  width: 100%;
  pointer-events: none;
  z-index: 99;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  background: transparent;
}

.player {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: calc(100% - 56px);
}

.bottom-controls {
  display: flex;
  align-items: flex-end;
  height: 100%;
}
