.bottom-metadata {
  position: fixed;
  bottom: 57px;
  width: calc(100% - 60px); /* 60px is the width of the side controls */
  z-index: 10;
  background: rgba(0, 0, 0, 0.1);
  padding-top: 8px;
  padding-bottom: 3px;
}
.bottom-metadata .video-title {
  width: 100%;
  height: 30px;
  display: flex;
  align-items: center;
  width: 100%;
}

.bottom-metadata .video-title svg {
  color: white;
}

.bottom-metadata .video-title p {
  font-size: 16px;
  font-weight: 400;
  color: #fff;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 90%;
  line-height: normal;
}

.bottom-metadata .channel {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  gap: 6px;
  padding-left: 8px;
  margin-bottom: 12px;
}

.bottom-metadata .channel .avatar-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  overflow: hidden;
  background: #555;
}

.bottom-metadata .channel .avatar-wrapper img {
  width: 100%;
}
.bottom-metadata .channel > span {
  color: white;
  font-size: 14px;
  font-weight: 500;
}
.bottom-metadata .video-caption {
  color: white;
  margin-bottom: 12px;
  font-size: 13px;
  padding-left: 8px;
  padding-right: 16px;
  line-height: 125%;
  max-height: 50px;
  overflow: auto;
}

body.fullscreen .bottom-metadata {
  bottom: 0;
}
