/node_modules
/.pnp
.pnp.js
/coverage
/build
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
.env
.env.dev
.env.release
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.aliases
.zsh_aliases
scripts
.prettierrc
tmp
dev
*.dev.*
.warn
